.red1 {
  background-color: red !important;
}

.yellow1 {
  background-color: yellow !important;
}

.car-go {
  -webkit-transform: translateX(10px) !important;
          transform: translateX(10px) !important;
  -webkit-transition: 1s !important;
  transition: 1s !important;
}

.car-go-gr {
  -webkit-transform: translateX(1300px) !important;
          transform: translateX(1300px) !important;
}

.green1 {
  background-color: green !important;
}

.dark-mode {
  background-color: #000 !important;
}

.dark-mode1 {
  background-color: #5f092d !important;
}

.dark-road1 {
  background-color: #858282 !important;
}

.moon-go {
  -webkit-transform: translateX(900px) !important;
          transform: translateX(900px) !important;
  opacity: 1 !important;
  -webkit-transition: 10s !important;
  transition: 10s !important;
}

.sun-go {
  -webkit-transform: translateX(-800px) !important;
          transform: translateX(-800px) !important;
  opacity: 0 !important;
  -webkit-transition: 10s !important;
  transition: 10s !important;
}

body {
  margin: 0;
}

body .container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #c9c5c5;
  -webkit-transition: 1s;
  transition: 1s;
}

body .container #moon {
  position: absolute;
  top: 60px;
  left: -700px;
  -webkit-transition: 10s;
  transition: 10s;
}

body .container #moon i {
  font-size: 100px;
  color: #F4F6F0;
}

body .container #sun {
  position: absolute;
  top: 10px;
  right: 0;
  -webkit-transition: 10s;
  transition: 10s;
}

body .container #sun i {
  font-size: 100px;
  color: #d5f135;
}

body .container .sec1-isiqfor {
  top: 40px;
  position: relative;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .sec1-isiqfor .isiqfor-head {
  width: 70px;
  height: 125px;
  background-color: black;
  margin: 5px 10px 0px 0px;
  border-radius: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .sec1-isiqfor .isiqfor-head .red {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  -webkit-transform: translateX(52%);
          transform: translateX(52%);
  margin-top: 8px;
  background-color: #3f3f3f;
  border-radius: 50%;
}

body .container .sec1-isiqfor .isiqfor-head .yellow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  -webkit-transform: translateX(52%);
          transform: translateX(52%);
  margin-top: 8px;
  background-color: #3f3f3f;
  border-radius: 50%;
}

body .container .sec1-isiqfor .isiqfor-head .green {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  -webkit-transform: translateX(52%);
          transform: translateX(52%);
  margin-top: 8px;
  background-color: #3f3f3f;
  border-radius: 50%;
  margin-bottom: 10px;
}

body .container .sec1-isiqfor .isiqfor-middle {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100px;
  right: 580px;
}

body .container .sec1-isiqfor .isiqfor-middle .yazi {
  border-radius: 20px;
  background-color: #9359c9;
  padding: 0 20px;
}

body .container .sec1-isiqfor .isiqfor-middle .yazi i {
  color: #5a4536;
  padding-right: 5px;
}

body .container .sec1-isiqfor .isiqfor-footer {
  height: 200px;
  width: 20px;
  background-color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  -webkit-transform: translateX(125%);
          transform: translateX(125%);
}

body .container .sec2-road {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 200px;
  background-color: cadetblue;
  margin-bottom: 10px;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

body .container .sec2-road .road {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .sec2-road .road .box {
  width: 100px;
  height: 50px;
  background-color: white;
}

body .container .sec2-road .car {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 8s !important;
  transition: 8s !important;
}

body .container .sec2-road .car i {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
  color: #5f092d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

body .container .button-zone {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}
/*# sourceMappingURL=style.css.map */